@*@model AddNewItemConfirmationViewModel*@
@model int

<h1>Add new item</h1>

<p>Congratulations</p>

@*<p>Your new item "@Model.Name" was successfully added to the system with the ID @Model.Id</p>*@

<p>Your item has been added successfull, id=@Model</p>